/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fffefe;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0c875a;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(10, 1, 92);
  }